@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=JetBrains+Mono:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

.font-fira {
  font-family: 'Fira Code', monospace;
}
.font-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}
.font-source {
  font-family: 'Source Code Pro', monospace;
}
