name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write # Add this section

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: npm install

      - name: Build project
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Generate data and statistics
          npm run build:data
          npm run generate:stats
          mkdir -p src/frontend/public
          cp -f public/data.json src/frontend/

          # Build frontend
          npm run build:frontend

          # Ensure assets are in the right place
          if [ -d "src/frontend/images" ]; then
            cp -r src/frontend/images dist/
          fi

          # Create a .nojekyll file to bypass GitHub Pages Jekyll processing
          touch dist/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
